.App {
  background: #f4fdfd;
  margin: 0;
}

.bottles {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}

.container {
  /* margin: 0 auto; */
  max-width: 400px;
  background: #f4fdfd;
}

.container .title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  padding: 10px 0;
  color: #54d0db;
}