.bottle {
  text-align: center;
  margin: 8px 8px;
  width: 55px;
  height: 125px;
}

.bottle img {
  width: 100%;
}

.bottle .bottle-text {
  padding-top: 1px;
  font-size: 13px;
  max-width: 70px;
  max-height: 26px;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1;
}